body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
  background-color: #84c9f2;
}

.App {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.add-form {
  display: flex;
  flex-direction: column;
  width: 200px;
  height: 150px;
  justify-content: space-between;
  align-items: center;
  margin: 20px;
}

button,
input {
  outline: none;
}

.smurf {
  display: flex;
  width: 500px;
  height: 100%;
  justify-content: space-around;
  align-items: center;
}

.smurf-btns {
  margin: 5px;
}
